body{
  background: lightgreen;
}

#content {
  margin: 5% 7.5%;
  background-color: #eee;
  text-align: center;
  padding: 5%;
  border-radius: 10px;
}

#header {
  width: 60%;
  padding: 5px;
  background-color: #ddd;
  line-height: .7;
  margin: 0 auto 40px;
  border-radius: 10px;
}

form {
  line-height: 1.2;
}

div  > * {
  margin: 20px 0;
}

label {
  display: inline-block;
  width: 40%;
  text-align: right;
  vertical-align: top;
  padding-right: 10px;
}

.right-tab {
  width: 48%;
  text-align: left;
  vertical-align: top;
}

ul {
  padding-left: 0;
  list-style-type: none;
  display: inline-block;
}
ul > li {
  margin: 10px 0;
}

li:first-child {
  margin-top: 0;
}

input[type ~= "radio"], input[type ~= "checkbox"] {
  margin-right: 10px;
}

textarea {
  height: 100px;
}

.input-field {
  padding: 10px;
  font-size: 15px;
}

#submit {
  background-color: green;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
}

input:invalid {
  background-color: pink;
}